<img class="logo" src="/assets/img/lambo.jpg" width="100%" height="350" alt="logo_FastCar">

<div id="main" class="menu">
  <nav>
    <ul>
      <li><a routerLink="/inicio"
        routerLinkActive="active">Inicio</a></li>
      <li><a routerLink="/galeria"
        routerLinkActive="active">Galeria</a></li>
      <li><a routerLink="/quisom"
        routerLinkActive="active">¿Qui som?</a></li>
        <li><a routerLink="reg"
          routerLinkActive="active">Log/Register</a></li>
      </ul>
  </nav>
</div>

